*{
	margin : 0px;
	padding : 0px;
}
body{
	font-family : "Arial", sans-serif;
}
.cleaner{
	clear : both;
}
ul{
	list-style-type : none;
}
a{
	text-decoration : none;
	color : #FFFFFF;
}
#header{
	/*background-color : #CFECEC;  */
	padding : 15px 0px;
	/* background-color :	#92C7C7;  */
	/*background-color : #E0FFFF;*/
	background-color : #000000;
}
.container{
	width : 1300px;
	margin : 0px auto;
}
#logo, #navigacija{
	float : left;
}
#logoSL {
	width : 80px;
	margin-right : 50px;
}
#socials{  
	float : right; 
	margin-top : 15px;	
}
#navigacija ul li, #socials ul li{  
	display : inline;
}
#navigacija ul li{   
	margin-right: 25px;
	font-size : 18px;
}
#navigacija {
	margin-top : 15px;	
}
#socials ul li{
	margin-left: 10px;
	font-size : 20px;
}
#pozadina{
	background-image : url("../img/6.jpg");
	width : 100%;
	height : 880px;
	background-size: cover;
}
#pozadina .container h1{
	color: rgba(255, 255, 255, 0.8);
	font-size: 70px;
	text-transform: uppercase;
	
}
#pozadina .container h2{
	color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	text-transform: uppercase;
}
#pozadina .container {
	padding-top : 300px
}
#slika1{
	width : 300px;
	height : 500px;
	background-color : #000000;
	float: left;
}
#slika2{
	width : 300px;
	height : 500px;
	background-color : #000000;
	float: left;
	margin-left: 200px;
	margin-bottom : 40px;
}
#slika3{
	width : 300px;
	height : 500px;
	background-color : #000000;
	float: right;
}
.slike1{
	width : 300px;
	border-radius : 15px;
}
#pozadina2 a h2{
	color : #FFFFFF;
	text-align : center;
	margin-top : 20px;

}
#pozadina2{
	background-color : #000000;
}
.stage12 {
  width: 550px;
  height : 400px;
  border: 2px solid #FFF;
  padding : 10px 22px;
  margin-top : 30px;
}

.left {
  float: left;
  border-radius : 20px;
}

.right {
  float: right;
  border-radius : 20px;
}
.namena h2 {
	color : #FFFFFF;
	text-align : center;
	text-transform : uppercase;
	font-size : 30px;
	margin-top : 20px;
}
.stage12 h3 {
	color : red;
	text-align : center;
	text-transform : uppercase;
	font-size : 35px;
}
.stage12 p {
	color : #FFF;
	font-size : 22px;
}
.stage12 li {
	color : #FFF;
	list-style-type : disc;
	font-size : 20px;
}
.stage34 {
  width: 550px;
  height : 400px;
  border: 2px solid #FFF;
  padding : 10px 22px;
  margin-top : 30px;
}
.stage34 h3 {
	color : FF0000;
	text-align : center;
	text-transform : uppercase;
	font-size : 35px;
}
.stage34 p {
	color : #FFF;
	font-size : 22px;
}
.stage34 li {
	color : #FFF;
	list-style-type : disc;
	font-size : 20px;
}
#pozadina3{
	background-color : rgba(0, 0, 0, 0.95);
	overflow : hidden;
}
#galerijasl3 {
	background-image : url("../img/17.jpg");
	width : 100%;
	height : 800px;
	background-size : cover;
	background-position: center 40%;
	background-repeat : no-repeat;
	
}

#galerijasl4 {
	background-image : url("../img/15.jpg");
	width : 100%;
	height : 800px;
	background-size : cover;
	background-position: center 40%;
	background-repeat : no-repeat;
	
}
.galerijaTx h2{
	color : #FFFFFF;
	font-size : 40px;
	margin-left : 70px;
}
.galerijaTx h3{
	display : inline;
	margin-left : 10px;
	color : #FFFFFF;
	font-size : 30px;
	margin-right : 100px;
}
.galerijaTx p{
	display : inline;
	margin-left : 10px;
	color : #FFFFFF;
	font-size : 30px;
	margin-right : 60px;
}
#galerijasl1 {
	background-image : url("../img/18.jpg");
	width : 100%;
	height : 800px;
	background-size : cover;
	background-position: center 65%;
	background-repeat : no-repeat;
}
#galerijasl2 {
	background-image : url("../img/19.jpg");
	width : 100%;
	height : 800px;
	background-size : cover;
	background-position: center 60%;
	background-repeat : no-repeat;
	
}
#footer{
	background-color : #010101;
	overflow : hidden;
}
#footer p{
	color : #FFFFFF;
	margin-top : 15px;
	text-align : center;
	font-family: "Galindo", sans-serif;
	font-size : 17px;
}
#pozadina4{
	height : 900px;
	width : 100%;
	overflow : hidden;
	background-size : cover;
	background-image : url("../img/20.jpg");
	background-position : center 85%;
	background-repeat : no-repeat;
}
#pozadina4 h2{
	color:#FFFFFF;
	margin-top : 100px;
	font-size : 40px;
	text-align : center;
	margin-bottom : 40px;
}
#pozadina4 p{
	color:#FFFFFF;
	font-size : 28px;
}
#pozadina5{
	width : 100%;
	background-color : #000000;
	padding-bottom : 10px;
}
#pozadina5 h2{
	color : #FFFFFF;
	text-align : center;
	font-size : 30px;
}
#pozadina6 {
	background-color : #000000;
	width : 100%;
	height : 900px;
}
#msl{
	float : left;
	width : 50%;
}
#msl img{
	width : 100%;
}
#biografija{
	float : left;
	width : 50%;
}
#biografija p{
	color : #FFFFFF;
	margin-left : 20px;
	font-size : 20px;
}
#biografija h2{
	color : #FFFFFF;
	font-size : 40px;
	margin : 30px 0 20px 20px;
}
#pozadina7 {
    background-image : url("../img/30.jpg");
    background-size : cover;
    background-position : center;
    width : 100%;
    height : 800px;
    padding : 50px 0;
}
#formalevo {
    width : 44%;
    float : left;
    background-color : rgba(0, 0, 0, 0.9);
    padding : 30px;
    border-radius : 10px;
}
#formalevo h2 {
    margin-bottom : 20px;
    color : #FFFFFF;
}
#formalevo label {
    display : block;
    margin-top : 15px;
    margin-bottom : 5px;
    font-weight : bold;
    color : #CCCCCC;
}

input, textarea {
    width : 100%;
    padding : 10px;
    border : 1px solid #CCCCCC;
    border-radius : 5px;
}
#formalevo #dugme {
    margin-top : 20px;
    width : 100%;
    padding : 12px;
    background-color : #111111;
    color : white;
    font-size : 16px;
    border : none;
    border-radius : 5px;
}
